li,
p {
    font-size: 16px !important;
}

h4.flex.whitespace-pre-wrap.group.font-semibold {
    font-size: 17px !important;
}

h2.flex.whitespace-pre-wrap.group.font-semibold {
    font-size: 22px !important;
}


#navbar a svg {
    color: #FFC738 !important;
}

#navbar a span {
    color: #FFC738 !important;
}

.update-container .cursor-pointer.px-2.py-1.rounded-lg.text-sm.flex.items-center.flex-grow-0.justify-center.font-medium.bg-primary\/10.text-primary.dark\:text-primary-light {

    color: #C89000 !important;
    background: #FFF9EA !important;
}

strong {
    font-weight: 600 !important;
}

code {
    font-weight: 700 !important;
}

.card {
    word-break: break-word !important;
}

/* Target p tags within search results */
.rounded-search p {
    font-size: 13px !important;
}

/* Highlight search result matches */
.rounded-search .\[\&_mark_b\]\:text-primary mark b {
    color: rgb(212 152 0) !important;
}



/* Start tags for "what's new" page */

/* Style the filter tag spans */
div.px-1.flex.flex-wrap.gap-2.text-secondary span.inline-block.rounded-lg.text-sm.font-medium {
    background: #f9fafb !important;
    color: #374151 !important;
    border: 1px solid #e5e7eb !important;
    padding: 0.25rem 0.5rem !important;
    border-radius: 0.5rem !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    transition: all 0.2s ease !important;
    font-size: 0.875rem !important;
    margin: 0 !important;
}

/* Blue styling for Forms tags */
div.px-1.flex.flex-wrap.gap-2.text-secondary span.inline-block.rounded-lg.text-sm.font-medium.forms-tag {
    background: #eff6ff !important;
    color: #1d4ed8 !important;
    border: 1px solid #bfdbfe !important;
}

/* Styling for Zite tags based on the image */
div.px-1.flex.flex-wrap.gap-2.text-secondary span.inline-block.rounded-lg.text-sm.font-medium.zite-tag {
    background: #FEF4E4 !important; /* Light cream color as seen in the image */
    color: #b57600 !important; /* Orange color as seen in the image */
    border: 1px solid #efe1d2 !important; /* Light beige border as seen in the image */
}

/* end tags for "what's new" page */