{
  "openapi": "3.0.1",
  "info": {
    "title": "Zite DB REST API",
    "description": "A REST API for managing Zite databases, tables, fields, and records. Build database-driven applications with programmatic access to your structured data.\n\n## What is REST API\n\nA **REST API** simplifies interaction with your database data, allowing for automation and integration. Following RESTful principles, it seamlessly connects to retrieve, create, and modify database data.\n\n## Getting Started\n\n### Authentication\nAll API requests require authentication using your Fillout API key in the Authorization header:\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n### Base URLs\n- **US**: https://tables.fillout.com/api/v1\n- **EU**: https://eu-tables.fillout.com/api/v1\n\n### Rate Limits\nAPI requests are rate limited to ensure service quality. Standard rate limits apply to all endpoints.\n\n### Error Handling\nThe API returns standard HTTP status codes and JSON error responses with detailed error messages.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://tables.fillout.com/api/v1",
      "description": "US server"
    },
    {
      "url": "https://eu-tables.fillout.com/api/v1",
      "description": "EU server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/bases": {
      "get": {
        "summary": "Get databases",
        "description": "Lists all databases for your organization",
        "operationId": "getDatabases",
        "tags": ["Databases"],
        "responses": {
          "200": {
            "description": "List of databases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatabaseWithTables"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create database",
        "description": "Creates a new database with tables and fields",
        "operationId": "createDatabase",
        "tags": ["Databases"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Database created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bases/{databaseId}": {
      "get": {
        "summary": "Get database by ID",
        "description": "Returns detailed information about a specific database including all tables and fields",
        "operationId": "getDatabaseById",
        "tags": ["Databases"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          }
        ],
        "responses": {
          "200": {
            "description": "Database details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseWithTables"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete database",
        "description": "Permanently deletes a database and all its data",
        "operationId": "deleteDatabase",
        "tags": ["Databases"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteSuccess"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bases/{databaseId}/tables": {
      "post": {
        "summary": "Create table",
        "description": "Adds a new table to an existing database",
        "operationId": "createTable",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Table created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bases/{databaseId}/tables/{tableId}": {
      "patch": {
        "summary": "Update table",
        "description": "Updates table properties like name",
        "operationId": "updateTable",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete table",
        "description": "Permanently deletes a table and all its data",
        "operationId": "deleteTable",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteSuccess"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bases/{databaseId}/tables/{tableId}/fields": {
      "post": {
        "summary": "Create field",
        "description": "Adds a new field to an existing table",
        "operationId": "createField",
        "tags": ["Fields"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFieldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Field created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bases/{databaseId}/tables/{tableId}/fields/{fieldId}": {
      "patch": {
        "summary": "Update field",
        "description": "Updates field properties and configuration",
        "operationId": "updateField",
        "tags": ["Fields"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the field. You can also use the field name instead of the ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete field",
        "description": "Permanently deletes a field from a table",
        "operationId": "deleteField",
        "tags": ["Fields"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the field. You can also use the field name instead of the ID. Note: You cannot delete the primary field (the first field in a table)."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteSuccess"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bases/{databaseId}/tables/{tableId}/records": {
      "post": {
        "summary": "Create record",
        "description": "Creates a new record in a table with the provided field data",
        "operationId": "createRecord",
        "tags": ["Records"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecordRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bases/{databaseId}/tables/{tableId}/records/list": {
      "post": {
        "summary": "List records",
        "description": "Retrieves records from a table with filtering, sorting, and pagination",
        "operationId": "listRecords",
        "tags": ["Records"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRecordsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bases/{databaseId}/tables/{tableId}/records/{recordId}": {
      "get": {
        "summary": "Get record by ID",
        "description": "Returns a single record by its UUID",
        "operationId": "getRecordById",
        "tags": ["Records"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the record"
          }
        ],
        "responses": {
          "200": {
            "description": "Record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update record",
        "description": "Updates specific fields of an existing record",
        "operationId": "updateRecord",
        "tags": ["Records"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the record to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete record",
        "description": "Permanently deletes a record from a table",
        "operationId": "deleteRecord",
        "tags": ["Records"],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the database"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the table. You can also use the table name instead of the ID."
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the record to delete"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your Fillout API key. Format: Bearer <api_key>"
      }
    },
    "schemas": {
      "FieldType": {
        "type": "string",
        "enum": [
          "single_line_text",
          "long_text",
          "email",
          "url",
          "phone_number",
          "number",
          "currency",
          "percent",
          "rating",
          "duration",
          "single_select",
          "multiple_select",
          "checkbox",
          "date",
          "datetime",
          "attachment",
          "linked_record",
          "lookup"
        ],
        "description": "Field type - see [Field Types Reference](/database/field-types) for complete list of available types and their configurations"
      },
      "Database": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique UUID identifier for the database",
            "example": "bad4b276-f604-47ad-86e5-d2ae4f60968f"
          },
          "tables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            },
            "description": "List of tables in the database"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of when the database was created",
            "example": "2025-10-18T02:08:14.784Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of when the database was last updated",
            "example": "2025-10-18T02:08:14.784Z"
          },
          "workspaceId": {
            "type": "string",
            "description": "Workspace ID that owns this database"
          }
        },
        "required": ["id", "tables", "createdAt", "updatedAt"]
      },
      "DatabaseWithTables": {
        "$ref": "#/components/schemas/Database"
      },
      "Table": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the table"
          },
          "name": {
            "type": "string",
            "description": "Name of the table"
          },
          "order": {
            "type": "integer",
            "description": "Display order of the table"
          },
          "primaryFieldId": {
            "type": "string",
            "description": "ID of the primary field in the table"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            },
            "description": "List of fields in the table"
          },
          "views": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/View"
            },
            "description": "List of views in the table"
          }
        },
        "required": ["id", "name", "order", "primaryFieldId", "fields", "views"]
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the field"
          },
          "name": {
            "type": "string",
            "description": "Name of the field"
          },
          "type": {
            "$ref": "#/components/schemas/FieldType"
          },
          "template": {
            "type": "object",
            "description": "Field-specific configuration options. See [Field Types Reference](/help/database/field-types) for detailed template structure by field type.",
            "additionalProperties": true
          },
          "order": {
            "type": "integer",
            "description": "Display order of the field"
          }
        },
        "required": ["id", "name", "type", "template", "order"]
      },
      "View": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the view"
          },
          "name": {
            "type": "string",
            "description": "Name of the view"
          },
          "type": {
            "type": "string",
            "description": "Type of the view (e.g., 'grid')"
          },
          "config": {
            "type": "object",
            "properties": {
              "sorts": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Sort configuration for the view"
              },
              "hiddenFieldIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of field IDs that are hidden in this view"
              },
              "fieldWidths": {
                "type": "object",
                "additionalProperties": true,
                "description": "Field width configuration for the view"
              },
              "orderedFieldIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of field IDs in the order they appear in this view"
              }
            },
            "required": [
              "sorts",
              "hiddenFieldIds",
              "fieldWidths",
              "orderedFieldIds"
            ],
            "description": "Configuration object for the view"
          }
        },
        "required": ["id", "name", "type", "config"]
      },
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique UUID identifier for the record"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Record data with field IDs as keys",
            "example": {
              "fwtJyga6dso": "John Doe",
              "k8mNp2xQ9rL": "john.doe@newcompany.com",
              "vB3zXc7Hf2w": "low"
            }
          },
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Record data with field names as keys",
            "example": {
              "Name": "John Doe",
              "Email": "john.doe@newcompany.com",
              "Priority": "low"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of when the record was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of when the record was last updated"
          }
        },
        "required": ["id", "data", "fields", "createdAt", "updatedAt"]
      },
      "CreateDatabaseRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Database name"
          },
          "tables": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/CreateTableInDatabase"
            },
            "description": "Array of table definitions to create with the database"
          }
        },
        "required": ["name", "tables"]
      },
      "CreateTableInDatabase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Table name"
          },
          "fields": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/CreateFieldInTable"
            },
            "description": "Array of field definitions to create with the table"
          }
        },
        "required": ["name", "fields"]
      },
      "CreateFieldInTable": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FieldType"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Field name"
          },
          "template": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field-specific configuration options. See [Field Types Reference](/help/database/field-types) for detailed template structure by field type."
          }
        },
        "required": ["type", "name", "template"]
      },
      "CreateTableRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Table name"
          },
          "fields": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/CreateFieldInTable"
            },
            "description": "Array of field definitions to create with the table"
          }
        },
        "required": ["name", "fields"]
      },
      "UpdateTableRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "New table name"
          }
        }
      },
      "CreateFieldRequest": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FieldType"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Field name"
          },
          "template": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field-specific configuration options (optional - uses defaults if not provided). See [Field Types Reference](/help/database/field-types) for detailed template structure by field type."
          }
        },
        "required": ["type", "name"],
        "example": {
          "type": "single_select",
          "name": "Status",
          "template": {
            "options": [
              {
                "label": "Active",
                "color": "green"
              },
              {
                "label": "Inactive",
                "color": "gray"
              }
            ]
          }
        }
      },
      "FieldOption": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The display text for the option"
          },
          "color": {
            "type": "string",
            "description": "Color key for the option. If not specified, a color will be auto-assigned. Available colors: purple, orange, blue, gray, red, yellow, green, pink, lime, tangerine, emerald, sky, teal, indigo, cyan, violet, fuchsia. Each color has a specific background and text color combination (e.g., purple uses #EEE6F3 background with #401DB3 text).",
            "enum": [
              "purple",
              "orange",
              "blue",
              "gray",
              "red",
              "yellow",
              "green",
              "pink",
              "lime",
              "tangerine",
              "emerald",
              "sky",
              "teal",
              "indigo",
              "cyan",
              "violet",
              "fuchsia"
            ]
          },
          "value": {
            "type": "string",
            "description": "Unique identifier for the option. Not specified when creating new options. Useful in write operations when specifying existing options (e.g., reordering options, keeping old options and adding new ones)."
          }
        },
        "required": ["label"]
      },
      "UpdateFieldRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "New field name"
          },
          "template": {
            "type": "object",
            "additionalProperties": true,
            "description": "Updated field configuration. See [Field Types Reference](/help/database/field-types) for detailed template structure by field type."
          }
        }
      },
      "CreateRecordRequest": {
        "type": "object",
        "properties": {
          "record": {
            "type": "object",
            "additionalProperties": true,
            "description": "Record data with field names or field IDs as keys and their corresponding values",
            "example": {
              "Name": "John Doe",
              "Email": "john@example.com",
              "Priority": "high"
            }
          }
        },
        "required": ["record"],
        "example": {
          "record": {
            "Name": "John Doe",
            "Email": "john@example.com",
            "Priority": "high"
          }
        }
      },
      "UpdateRecordRequest": {
        "type": "object",
        "properties": {
          "record": {
            "type": "object",
            "additionalProperties": true,
            "description": "Fields to update with their new values (using field names or field IDs as keys). Only include fields you want to change.",
            "example": {
              "Email": "john.doe@newcompany.com",
              "Priority": "low"
            }
          }
        },
        "required": ["record"],
        "example": {
          "record": {
            "Email": "john.doe@newcompany.com",
            "Priority": "low"
          }
        }
      },
      "ListRecordsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2000,
            "default": 500,
            "description": "Number of records to return (1-2000, default: 500)"
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Integer-based offset - Number of records to skip for pagination"
          },
          "cursor": {
            "type": "string",
            "description": "String-based cursor - Opaque pagination cursor for fetching the next page of results"
          },
          "filters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Filter conditions using field IDs or field names as keys. Supports exact matches, operators (contains, not, in, notIn, lt, lte, gt, gte), and select field filtering"
          }
        },
        "example": {
          "filters": {
            "Name": { "contains": "John" },
            "Age": { "gte": 18, "lt": 65 },
            "Status": { "in": ["Active", "Pending"] },
            "Department": { "not": "Admin" }
          },
          "limit": 100,
          "offset": 0
        }
      },
      "ListRecordsResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            },
            "description": "Array of records"
          },
          "total": {
            "type": "integer",
            "description": "Total number of records matching the filter criteria"
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "String-based cursor for the next page of results, or null if no more pages"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more records available beyond this page"
          }
        },
        "required": ["records", "total", "cursor", "hasMore"],
        "example": {
          "records": [
            {
              "id": "d4b3c2a3-c46b-46a1-a8ec-81b664bb41cb",
              "data": {
                "f6JE46z2WoX": "",
                "f5gMv8mk8CX": "",
                "foEBBtqDY1F": false
              },
              "fields": {
                "Name": "",
                "Notes": "",
                "Active": false
              },
              "createdAt": "2025-11-13T11:59:45.000Z",
              "updatedAt": "2025-11-13T11:59:45.000Z"
            }
          ],
          "total": 3,
          "cursor": "eyJ0aW1lc3RhbXAiOiIyMDI1LTExLTEzVDExOjU5OjQ1LjAwMFoiLCJpZCI6ImQ0YjNjMmEzLWM0NmItNDZhMS1hOGVjLTgxYjY2NGJiNDFjYiJ9",
          "hasMore": true
        }
      },
      "SortOption": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Field name to sort by"
          },
          "direction": {
            "type": "string",
            "enum": ["asc", "desc"],
            "default": "asc",
            "description": "Sort direction"
          }
        },
        "required": ["field"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["error"]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request data or validation failure",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "invalidRecordId": {
                "value": {
                  "error": {
                    "code": "INVALID_RECORD_ID",
                    "message": "Record ID is not in valid UUID format"
                  }
                }
              },
              "validationError": {
                "value": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "Invalid request data or validation failure"
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Invalid or missing API key"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Requested resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Requested resource does not exist"
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Server-side error occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "INTERNAL_SERVER_ERROR",
                "message": "Server-side error occurred"
              }
            }
          }
        }
      },
      "DeleteSuccess": {
        "description": "Resource deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "deleted": {
                  "type": "boolean",
                  "example": true
                }
              },
              "required": ["deleted"]
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Databases",
      "description": "Operations for managing databases"
    },
    {
      "name": "Tables",
      "description": "Operations for managing tables within databases"
    },
    {
      "name": "Fields",
      "description": "Operations for managing fields within tables"
    },
    {
      "name": "Records",
      "description": "Operations for managing records within tables"
    }
  ]
}
